/* memo : 각종 버튼 색 #ff9f86 > #fe5171 */
* {
    margin : 0;
    padding : 0;
	box-sizing : border-box;
}
ul {
    list-style: none;
}
a:link, a:visited {
    color: #203056;
    font-weight : bold;
    text-decoration: none;
}
a:hover, a:focus {
    color: #e24545;
    font-weight : bold;
    text-decoration: none;
}
/* memo: nav는 798892 > 1f2325 */
#wrapper {
	width : 100%;
    margin : 0 auto;
}
.contentWrap {
	width : 1140px;
	margin : 0 auto;
	padding : 0 10px;
}
body {
	color : #8f9bab;
	background-color : #fff;
	font-size : 16px;  /* 부모나 기준 없을 땐 16px 기준 */
	line-height : 1.6;  /* 160% */
	font-family : Poppins, sans-serif;
}
/* memo: 이미지 볼록~ 커지는 건 다 css에 넣어보자 transform scale  */

/* header */
header {
	width : 100%;
	height : 118px;
	padding-top : 40px;
}
.headerWrap {
	width : 1140px;
	height : 38px;
	margin : 0 auto;
	position : relative;
}
/* header logo */
.logo {
	position : absolute;
	top : -3px;
	left : 10px;
}
/* search and burger(etcIcon) */
.etcIcon {
	position : absolute;
	top : 0;
	right : 10px;
}
/* 질문 : 저도 원본처럼 버튼 호버하면 스르륵 스륵 하고 싶어요... << 꿈도 꾸지 마라 아직 */
.etcIcon li {
	width : 24px;
	height : 24px;
	display : inline-block;
	padding : 6px;
	box-sizing : content-box;
	border-radius : 24px;
	transition : all 0.5s ease-out;
	background : linear-gradient(to bottom, #ff9f86 0%, #ff9f86 24%, #fe5171 100%);
}
.etcIcon li:hover {
	background : linear-gradient(to bottom, #fe5171 0%, #fe5171 60%, #ff9f86 100%);
}
.etcIcon li:first-child {
	margin-right : 20px;
}
.etcIcon a {
	display : block;
}
/* Header SNS */
.topSns {
	position : absolute;
	top : 5px;
	right : 140px;
}
.sns > li {
	display : inline-block;
}
/* GNB */
.mainMenu {
	position : absolute;
	top : 1px;
	left : 180px;
}
.mainMenu > li {
	display : inline-block;
	position : relative;
}
/* 질문 : 아이콘이 안 보여요... << 백그라운드 이미지에 왜 노리핏ㅋㅋㅠ;*/
.thereIsMore:after {
	content : "";
	position : absolute;
	top : 16px;
	width : 8px;
	height : 8px;
	background : url(../images/download.png) no-repeat;
	background-size : 8px 8px;
	margin-left : -20px;
}
.mainMenu a {
	color: #798892;
    font-weight : normal;
    text-decoration: none;
	font-size : 0.8em;
}
.mainMenu > li > a:link, .mainMenu > li > a:visited {
	color: #798892;
    font-weight : normal;
    text-decoration: none;
	font-size : 0.9em;
}
.mainMenu > li > a:hover, .mainMenu > li > a:focus {
	color: #1f2325;
    font-weight : normal;
    text-decoration: none;
	font-size : 0.9em;
}
.mainMenu > li > a {
	display : inline-block;
	padding : 4px 20px;
	border-radius : 20px;
}
.thereIsMore > a {
	padding : 8px 30px 8px 20px !important;  /* 흑흑흑 */
}
#imHome {
	background : linear-gradient(to left, #ff9f86 0%, #ff9f86 24%, #fe5171 100%);
	color : #fff;
}
.mainMenu > li > a:active {
	background : linear-gradient(to left, #ff9f86 0%, #ff9f86 24%, #fe5171 100%);
	color : #fff;
}
/* 질문 : << 메인메뉴 li relative, 그에 속한 서브메뉴 absolute */
.aboutHome, .aboutFeatures, .aboutShop  {
	text-indent : 24px;
	position : absolute;
	z-index : 555;
	white-space : nowrap;
	width : 150px;
	background-color: #fff;
	border-radius : 10px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
	display : none;
}
.thereIsMore > ul > li {
	padding : 8px 0;
	border-bottom : 1px solid rgba(9,9,9,0.05);
}
.thereIsMore > ul > li:last-child {
	border-bottom : none;
}
.thereIsMore > ul > li > a:hover {
	color: #e24545;
}
.thereIsMore:hover > ul {
	display : block;
}
/* 서브 서브 메뉴 */
.aboutPostLayouts, .aboutPostFormats, .aboutArchive  {
	text-indent : 24px;
	position : absolute;
	left: 150px;
	z-index : 666;
	white-space : nowrap;
	width : 150px;
	background-color: #fff;
	border-radius : 10px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
	display : none;
}
.aboutPostLayouts {
	top : 0;
}
.aboutPostFormats {
	top : 42px;
}
.aboutArchive {
	top : 84px;
}
.moreAndMore:after {
	content : "";
	display : inline-block;
	width : 10px;
	height : 10px;
	background : url(../images/chevron.png) no-repeat;
	background-size : 10px 10px;
	float : right;
	position : relative;
	top : 10px;
	left : -10px;
}
.moreAndMore > ul > li {
	padding : 8px 0;
	border-bottom : 1px solid rgba(9,9,9,0.05);
}
.moreAndMore > ul > li:last-child {
	border-bottom : none;
}
.moreAndMore > ul > li > a:hover {
	color: #e24545;
}
.moreAndMore:hover > ul {
	display : block;
}




/* tag 버튼들 */
.tag {
	padding : 4px 10px;
	border: none;
	cursor : pointer;
	border-radius : 12px;
	background : linear-gradient(to left, #ff9f86 0%, #ff9f86 24%, #fe5171 100%);
	color : #fff;
	font-weight : normal;
}
.tag:hover {
	background : linear-gradient(to left, #fe5171 0%, #fe5171 60%, #ff9f86 100%);
}



/* topSection */
#topSection {
	height : 533px;
	margin-bottom : 48px;
}
/* topSection left */
.mainPost {
	width : 740px;
	height : 533px;
	position : relative;
	float : left;
	border-radius : 10px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
	background-color : rgba(0,10,30,0.5);
	overflow : hidden;
}
/* 질문 : img에 hover 시 볼~록 커지는 거 어떻게 하나요.. << 틀은 overflow hidden, 이미지만 키운다 */
.mainPost > img {
	position : absolute;
	border-radius : 10px;
	z-index : -100;
}
.mainPost:hover { cursor : pointer; }
.mainPost:hover > img {
	transform : scale(1.05);  /* memo : 마우스 오버시 이미지 크기를 1.05 배만큼 확대시킨다. */
	transition : transform .35s;
}
.mainPost > button {
	position : absolute;
	left : 50px;
	top : 310px;
}
.mainPost > h2 {
	position : absolute;
	left : 50px;
	top : 350px;
	font-size : 32px;
	color : #fff;
}
.mainPost p {
	position : absolute;
	left : 50px;
	font-size : 0.9em;
	top : 460px;
}
.mainPost p a:link, .mainPost p a:visited {
	color : #8f9bab;
	font-weight : normal;
}
.mainPost p a:hover, .mainPost p a:focus {
	color: #e24545;
}
.mainPost p:last-child {
	left : 160px;
}
/* topSection right */
.subPost {
	box-sizing : border-box;
	width : 360px;
	float : right;
	padding : 31px;
	border : 1px solid rgba(0,0,0,0.1);
	border-radius : 10px;
	overflow : hidden;
}
/* 탭 메뉴 */
.postTab {
	text-align : center;
	box-sizing : content-box;
	overflow : hidden;
}
.postTab > li {
	width : 130px;
	height : 28px;
	line-height : 28px;
	border : none;
	display : inline-block;
	padding : 6px;
	box-sizing : content-box;
	border-radius : 24px;
	background : linear-gradient(to left, #ff9f86 0%, #ff9f86 24%, #fe5171 100%);
	font-size : 14px;
	cursor : pointer;
}
.postTab > li:first-child {
	color : #fff;
	float : left;
}
.postTab > li:last-child {
	background : none;
	border : 1px solid rgba(0,0,0,0.1);
	float : right;
}


/* smallPost */
.smallPost {
	height : 90px;
	position : relative;
	padding : 53px 0;
	border-bottom : 1px solid transparent;
	border-image : linear-gradient(to right, rgb(255, 255, 255), rgba(51, 51, 51, 0.1));
	border-image-slice : 1;
	width:100%;
}
.smallPost:last-child {
	border : none;
}
.circleThumb {
	overflow : hidden;
	width : 60px;
	height : 60px;
	border-radius : 60px;
	position : absolute;
	left : 0;
	top : 25px;
}
.circleThumb img {
	border-radius : 60px;
}
.circleThumb img:hover {
	transform : scale(1.05);
	transition : transform .35s;
}
.smallPostText {
	position : absolute;
	width : 70%;
	right : 0;
	top : 25px;
}
.smallPostText > h3 {
	font-size : 0.9em;
	line-height : 1.5;
}
.smallPostText > p {
	font-size : 0.8em;
}



/* Main Content's Layout */
#mainContent {
	overflow : hidden;
	padding-top : 10px;
	margin-bottom : 48px;
}
#mainLeft {
	width : 740px;
	float : left;
	margin-bottom : 20px;
}
#mainRight {
	width : 360px;
	float : right;
}

/* Left : 꿈틀꿈틀 지렁이 */
#mainLeft > h2:after{
	content : "";
	display : block;
	width : 37px;
	height : 14px;
	background : url(../images/worm.png) no-repeat;
	background-size : 37px 14px;
	margin-top : 5px;
	margin-bottom : 32px;
}
#mainLeft > h2 { color: #203056; }

/* mainLeft : Editor's Pick */
/* 망했다... 전부 absolute 해서 조정했어... 끼워맞추기야... */
.editorsPick {
	border : 1px solid rgba(0,0,0,0.1);
	border-radius : 10px;
	overflow : hidden;
	padding : 30px;
}
.leftPick {
	width : 327px;
	height : 465px;
	float : left;
	overflow : hidden;
	position : relative;
}
.rightPick {
	width : 327px;
	height : 465px;
	float : right;
	overflow : hidden;
	position : relative;
}
.leftPick > div {
	width : 325px;
	height : 233px;
	overflow : hidden;
	border-radius : 10px;
}
.leftPick > a img {
	border-radius : 10px;
	position : relative;
}
.leftPick > div:hover > a > img {
	transform : scale(1.05);  /* memo : 마우스 오버시 이미지 크기를 1.05 배만큼 확대시킨다. */
	transition : transform .35s;
}
.leftPick > button {
	position : absolute;
	z-index : 20;
	top : 20px;
	left : 20px;
}
.circleThumbSmall {
	overflow : hidden;
	width : 32px;
	height : 32px;
	border-radius : 32px;
	position : absolute;
	left : 0;
	top : 260px;
	text-align : center;
}
.circleThumbSmall  img {
	width : 32px;
	height : 32px;
}
.editorProfile p {
	position : absolute;
	left : 50px;
	font-size : 0.9em;
	top : 264px;
}
.editorProfile p a:link, .editorProfile p a:visited {
	color : #8f9bab;
	font-weight : normal;
}
.editorProfile p a:hover, .editorProfile p a:focus {
	color: #e24545;
}
.editorProfile p:last-child {
	left : 160px;
}
.leftPick h2 {
	font-size : 1.2em;
	position : absolute;
	top : 310px;
}
.leftPick > p {
	position : absolute;
	top : 388px;
	
	/* memo : n줄까지만 보이게 하기 */
	width : 325px;
	text-overflow: ellipsis;
	overflow : hidden;
	word-break: break-word;
	
	display: -webkit-box;
   -webkit-line-clamp: 3; /* 원하는 라인수 */
   -webkit-box-orient: vertical;
}
.rectangleThumb {
	overflow : hidden;
	width : 110px;
	height : 80px;
	border-radius : 10px;
	position : absolute;
	left : 0;
	top : 25px;
}
.rectangleThumb img {
	border-radius : 10px;
}
.rectangleThumb img:hover {
	transform : scale(1.05);
	transition : transform .35s;
}
.rectangleThumb {
	position : absolute;
	top : 20px;
}
.rightPick > div {
	height : 96px;
	box-sizing : content-box;
	padding-top : 10px;
	padding-bottom : 20px;
}
.rightPick > div:first-child {
	height : 90px;
	box-sizing : content-box;
	padding-top : 0;
}
#imFirstPick {
	top : 0;
}
.rightPick > div h3 {
	width : 160px;
	line-height : 150%;
	position : absolute;
	right : 32px;
	top : -5px;
}
.rightPick > div:first-child h3 {
	top : -24px;
}
.rightPick > div p {
	position : absolute;
	left : 38px;
	top : 42px;
}
.rightPick > div:nth-child(2) p {
	top : 62px;
}
.editorsPick {
	margin-bottom : 48px;
}

/* mainLeft : AD */
.adTitle {
	text-align : center;
	font-weight : normal;
	font-size : 12px;
	margin-bottom : 12px;
}
.sponsoredAd1 {
	margin-bottom : 48px;
}

/* mainLeft : Trending */
.trending {
	border : 1px solid rgba(0,0,0,0.1);
	border-radius : 10px;
	height : 743px;
	overflow : hidden;
	padding : 30px;
	margin-bottom : 48px;
}
.topPick {
	width : 324px;
	height : 458px;
	position : relative;
	float : left;
	margin-bottom : 12px;
}
.trending > div:nth-child(2) {
	float : right;
}
.topPick > div:first-child {
	width : 325px;
	height : 233px;
	overflow : hidden;
	border-radius : 10px;
}
.topPick > div:first-child > a img {
	border-radius : 10px;
	position : relative;
}
.topPick > div:first-child:hover > a > img {
	transform : scale(1.05);  /* memo : 마우스 오버시 이미지 크기를 1.05 배만큼 확대시킨다. */
	transition : transform .35s;
}
.topPick > button {
	position : absolute;
	z-index : 20;
	top : 20px;
	left : 20px;
}

/* 아이콘의 시간 */
.icon {
	width : 30px;
	height : 30px;
	display : inline-block;
	padding : 6px;
	box-sizing : content-box;
	border-radius : 30px;
	transition : all 0.5s ease-out;
	background : linear-gradient(to bottom, #ff9f86 0%, #ff9f86 24%, #fe5171 100%);
}
.icon > img { width : 30px; height : 30px; }
.topPick > div:nth-of-type(2)  /* .icon */ {
	display : inline-block;
	position : absolute;
	right : 16px;
	bottom : 212px;
}
.topPick > div:last-of-type {
	position : relative;
	top : -238px;
}
.topPick > h2 {
	position : relative;
	top : 68px;
	font-size : 1.2em;
}
.topPick > p {
	position : relative;
	top : 80px;
	
	width : 325px;
	text-overflow: ellipsis;
	overflow : hidden;
	word-break: break-word;
	
	display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}
.pickSmallPostLeft {
	width : 325px;
	float : left;
}
.pickSmallPostRight {
	width : 325px;
	float : right;
}
.pickSmallPost {
	border-top : 1px solid transparent;
	border-image : linear-gradient(to right, rgb(255, 255, 255), rgba(51, 51, 51, 0.1));
	border-image-slice : 1;
	width:100%;
}
.pickSmallPostLeft h3, .pickSmallPostLeft p, .pickSmallPostRight h3, .pickSmallPostRight p {
	position : relative;
	left : 32px;
	width : 190px;
}
.pickSmallPostLeft p, .pickSmallPostRight p {
	top : 4px;
}

/* mainLeft : Inspiration */
.insLR {
	position : relative;
	left : 674px;
	bottom : 64px;
	width : 80px;
}
.leftRight li {
	display : inline-block;
	width : 32px;
	height : 32px;
	overflow : hidden;
	border : 1px solid rgba(0,0,0,0.1);
	border-radius : 32px;
}
.leftRight li:hover {
	border : 1px solid #fe5171;
}
.leftRight a {
	display : block;
}
.leftRight li img {
	width : 16px;
	height : 16px;
	position : relative;
	top : 5px;
	left : 8px;
}
.leftRight li:first-child img {
	left : 6px;
}
.inspiration {
	margin-top : -40px;
	margin-bottom : 48px;
	height : 300px;
}
.rectangleLargeLeft {
	width : 358px;
	height : 300px;
	float : left;
}
.rectangleLargeRight {
	width : 358px;
	height : 300px;
	float : right;
}
/* inspiration 배경 이미지 */
.rectangleLargeLeft > a:first-child {
    display: block;
    width: 358px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative; /* 부모 요소에 relative 설정 */
}
.rectangleLargeLeft img {
    width: 358px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}
.rectangleLargeLeft > a:first-child > div {
    position: absolute; /* 이미지 위에 레이어를 겹치게 설정 */
    top: 0;
    left: 0;
    width: 100%; /* 부모 요소와 같은 너비 */
    height: 100%; /* 부모 요소와 같은 높이 */
    border-radius: 10px;
    background-color: rgba(0, 10, 30, 0.5); /* 반투명 레이어 색상 */
    z-index: 1; /* 레이어가 이미지 위로 올라오도록 설정 */
}
.rectangleLargeLeft > a:first-child:hover img {
    transform: scale(1.05);
    transition: transform 0.35s;
}
.rectangleLargeRight > a:first-child {
    display: block;
    width: 358px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative; /* 부모 요소에 relative 설정 */
}
.rectangleLargeRight img {
    width: 358px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}
.rectangleLargeRight > a:first-child > div {
    position: absolute; /* 이미지 위에 레이어를 겹치게 설정 */
    top: 0;
    left: 0;
    width: 100%; /* 부모 요소와 같은 너비 */
    height: 100%; /* 부모 요소와 같은 높이 */
    border-radius: 10px;
    background-color: rgba(0, 10, 30, 0.5); /* 반투명 레이어 색상 */
    z-index: 1; /* 레이어가 이미지 위로 올라오도록 설정 */
}
.rectangleLargeRight > a:first-child:hover img {
    transform: scale(1.05);
    transition: transform 0.35s;
}
/* inspiration 이미지 위 요소들 */
.rectangleLargeLeft > button, .rectangleLargeRight > button {
	position : relative;
	left : 20px;
	top : -160px;
	z-index : 2;
}
.rectangleLargeLeft h2, .rectangleLargeRight h2 {
	font-size : 1.4em;
	line-height : 135%;
	color : #fff;
	width : 340px;
	position : relative;
	left : 20px;
	top : -140px;
	z-index : 2;
}
.rectangleLargeLeft p, .rectangleLargeRight p {
	font-size : 0.8em;
	z-index : 2;
	display : inline-block;
	position : relative;
	left : 20px;
	top : -130px;
	
}
.rectangleLargeLeft p:last-child, .rectangleLargeRight p:last-child {
	margin-left : 24px;
}
.rectangleLargeLeft p a, .rectangleLargeRight p a {
	color : #8f9bab;
	font-weight : normal;
}


/* mainLeft : Latest Posts */
.latestPosts {
	border : 1px solid rgba(0,0,0,0.1);
	border-radius : 10px;
	overflow : hidden;
	box-sizing : content-box;
	padding : 30px;
}
.postContent {
	width : 678px;
	height : 200px;
	padding-top : 31px;
	padding-bottom : 31px;
	position : relative;
	box-sizing : content-box;
	border-bottom : 1px solid transparent;
	border-image : linear-gradient(to right, rgb(255, 255, 255), rgba(51, 51, 51, 0.1));
	border-image-slice : 1;
}
.postContent:first-child {
	padding-top : 0;
	height : 200px;
}
.latestPosts > div:last-child {
	margin-bottom : 48px;
}
.postContent > a {
	float : left;
	display: block;
    width: 264px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.postContent > a img {
    width: 264px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}
.postContent > a > div {
    position: absolute; /* 이미지 위에 레이어를 겹치게 설정 */
    top: 0;
    left: 0;
    width: 100%; /* 부모 요소와 같은 너비 */
    height: 100%; /* 부모 요소와 같은 높이 */
    border-radius: 10px;
    /* 위 요소인 smallIcon은 더 높게 값 주기 */z-index: 1; /* 레이어가 이미지 위로 올라오도록 설정 */
}
.postContent > a:hover img {
    transform: scale(1.05);
    transition: transform 0.35s;
}
.smallIcon {
	display : inline-block;
	width : 30px;
	height : 30px;
	padding-top : 5px;
	padding-left : 5px;
	border-radius : 20px;
	background : linear-gradient(to bottom, #ff9f86 0%, #ff9f86 24%, #fe5171 100%);
	z-index : 4;
	position : relative;
	top : 20px;
	left : -244px;
}
.smallIcon img {
	width : 20px;
	height : 20px;
}
.postContentDescription {
	display : block;
	width : 383px;
	float : right;
	position : relative;
}
.postContentDescription > div:first-child  /* 작가 얼굴 */ {
	position : absolute;
	top : 0px;
}
.postContentP {
	font-size : 0.8em;
	display : inline-block;
	position : relative;
	left : 50px;
	margin-left : 24px;
}
.postContentDescription > p:first-of-type {
	margin-left : 0;
}
.postContentDescription > p > a {
	color : #8f9bab;
	font-weight : normal; 
}
.postContentDescription > p > a:hover {
	color : #e24545;
}
.postContentDescription > h3 {
	width : 360px;
	position : relative;
	top : 24px;
}
.postContentDetail {
	position : relative;
	bottom : -32px;
	
	width : 360px;
	text-overflow: ellipsis;
	overflow : hidden;
	word-break: break-word;
	
	display: -webkit-box;
   -webkit-line-clamp: 2; /* 원하는 라인수 */
   -webkit-box-orient: vertical;
}
.share, .viewMore {
	display : inline-block;
	position : relative;
	bottom : -42px;
}
.viewMore { right : -340px; }
.share a, .viewMore a { display : block; }
.share img, .viewMore img { width : 20px; }
.more > p {
	width : 160px;
	height : 46px;
	border-radius : 46px;
	border : 1px solid rgba(0,0,0,0.1);
	text-align : center;
	line-height : 46px;	
	
	position : relative;
	top : 36px;
	left : 260px;
}
.more a {
	display : block;
	font-size : 0.9em;
	font-weight : normal;
	color : #8f9bab;
}

.more p:hover {
	border : 1px solid #fe5171;
	
}
.more a:hover {
	color : #fe5171;
}

/* mainRight */
/* Right : 꿈틀꿈틀 지렁이 */
#mainRight > article > h2:after{
	content : "";
	display : block;
	width : 37px;
	height : 14px;
	background : url(../images/worm.png) no-repeat;
	background-size : 37px 14px;
	margin-top : 5px;
	margin-bottom : 32px;
	margin-left : 134.5px;
}
#mainRight > article > h2 {
	color: #203056;
	font-size : 1.2em;
	text-align : center;
}

/* mainRight : introduce */
.introduce {
	width : 100%;
	height : 234px;
	box-sizing : border-box;
	padding : 36px;
	border-radius : 10px;
	border : 1px solid rgba(0,0,0,0.1);
	margin-bottom : 40px;
	position : relative;
}
.introduce > img:first-child {
	width : 100%;
	height : 100%;
	z-index : -10;
}
#logoAgain {
	display : block;
	position : absolute;
	top : 36px;
	left : 120px;
}
.introduce > p {
	font-size : 0.8em;
	text-align : center;
	position : relative;
	top : -120px;
}
.middleSns {
	text-align : center;
	position : relative;
	top : -105px;
}

/* mainRight : popular posts */
.popularPosts {
	width : 100%;
	height : 444px;
	box-sizing : border-box;
	padding : 30px;
	border-radius : 10px;
	border : 1px solid rgba(0,0,0,0.1);
	margin-bottom : 40px;
}
.firstPopular {
	margin-top : -20px;
}
.numbering > p {
	position : absolute;
	top : 18px;
	display : block;
	width : 24px;
	height : 24px;
	border-radius : 24px;
	border : 2px solid #fff;
	background : linear-gradient(to bottom, #ff9f86 0%, #ff9f86 24%, #fe5171 100%);
	font-size : 0.8em;
	font-weight : bold;
	color : #fff;
	text-align : center;
	line-height : 20px;
	box-shadow : 0 3px 3px rgba(0,0,0,0.1), 0 3px 3px rgba(0,0,0,0.1);
}

/* mainRight : explore topics */
.exploreTopics {
	width : 100%;
	height : 479px;
	box-sizing : border-box;
	padding : 30px;
	border-radius : 10px;
	border : 1px solid rgba(0,0,0,0.1);
	margin-bottom : 40px;
}
.exploreContent {
	border-top : 1px solid transparent;
	border-image : linear-gradient(to right, rgb(255, 255, 255), rgba(51, 51, 51, 0.1));
	border-image-slice : 1;
	height : 46.5px;
	box-sizing : border-box;
	padding : 12px 0;
}
.exploreContent p {
	font-size : 0.9em;
}
.exploreContent > a {
	float : left;
}
.exploreContent > a > p {
	display : inline-block;
}
.exploreContent > a > p:first-child {
	width : 20px;
	height : 20px;
	white-space : nowrap;
	overflow : hidden;
	text-indent : 110px;
	background : url(../images/chevron.png) no-repeat;
	background-size : 20px 20px;
}
.exploreContent > a > p:last-child {
	margin-left : 24px;
	position : relative;
	bottom : 4px;
}
.exploreContent > p {
	float : right;
}

/* mainRight : newsletter */
.newsletter {
	width : 100%;
	height : 321px;
	box-sizing : border-box;
	padding : 30px;
	border-radius : 10px;
	border : 1px solid rgba(0,0,0,0.1);
	margin-bottom : 40px;
}
.joinS {
	color: #203056;
	font-weight : bold;
	font-size : 0.9em;
	text-align : center;
}
.newsletter > form > input {
	display : block;
	width : 100%;
	height : 40px;
	border-radius : 40px;
	text-align : center;
}
.getEmail {
	outline-color : #fe5171;
	outline-width : 1px;
	border : 1px solid rgba(0,0,0,0.1);
	color : #798892;
	margin-top : 16px;
	margin-bottom : 8px;
}
.signUp {
	border : none;
	background : linear-gradient(to left, #ff9f86 0%, #ff9f86 24%, #fe5171 100%);
	font-size : 14px;
	cursor : pointer;
	color : #fff;
	font-weight : bold;
	margin-bottom : 16px;
	letter-spacing : 0.5px;
}
.signUp:hover {
	background : linear-gradient(to left, #fe5171 0%, #fe5171 60%, #ff9f86 100%);
}
.newsletter > p:last-child {
	text-align : center;
	font-size : 0.7em;
}
.newsletter > p:last-child > a {
	color : #fe5171;
	font-weight : normal;
}
.newsletter > p:last-child > a:hover {
	color : #203056;
}

/* mainRight : celebration */
.celebration {
	width : 100%;
	height : 515px;
	box-sizing : border-box;
	padding : 30px;
	border-radius : 10px;
	border : 1px solid rgba(0,0,0,0.1);
	margin-bottom : 40px;
}
.celebration > a {
	display : block;
	width : 100%;
	height : 200px;
	border-radius : 10px;
	overflow : hidden;
}
.celebration > a > img {
	width : 100%;
	height : 200px;
	border-radius : 10px;
}
.celebration > a:hover > img {
	transform : scale(1.05);
	transition : transform .35s;
}
.celebration > button {
	position : relative;
	left : 20px;
	top : -180px;
}
.celebration > h3 {
	line-height : 140%;
}
.celebration p {
	font-size : 0.8em;
	z-index : 2;
	display : inline-block;
	margin-top : 8px;
	margin-bottom : 28px;
}
.celebration > p:last-of-type {
	margin-left : 24px;
}
.celebration p a {
	color : #8f9bab;
	font-weight : normal;
}
.celeLR {
	position : relative;
	left : 115px;
}

/* mainRight : ad */
.sponsoredAd2 {
	width : 100%;
	margin-bottom : 40px;
}
.sponsoredAd2 img {
	width : 100%;
}

/* mainRight : tag clouds */
.tagClouds {
	width : 100%;
	height : 306px;
	box-sizing : border-box;
	padding : 30px;
	border-radius : 10px;
	border : 1px solid rgba(0,0,0,0.1);
}
.hashtags { display : inline-block; }
.hashtags a {
	text-align : center;
	display : inline-block;
	box-sizing : content-box;
	padding : 5px 10px;
	border : 1px solid rgba(0,0,0,0.1);
	border-radius : 36px;
	margin-right : 5px;
	margin-bottom : 5px;
	height : 16px;
	line-height : 16px;
	color : #8f9bab;
	font-weight : normal;
	font-size : 0.8em;
}
.hashtags a:hover {
	border : 1px solid #fe5171;
	color : #fe5171;
}


/* bottomSection */
/* images */
#bottomSection {
	width : 1116px;
	height : 194px;
	margin : 0 auto 32px;
}
.imgAs {
	width : 182px;
	height : 182px;
	border-radius : 10px;
} 
.bottomImgs {
	width : 182px;
	height : 182px;
	border-radius : 10px;
}

/* go to instagram button */
.btn {
	display : block;
	width : 200px;
	height : 40px;
	border-radius : 40px;
	text-align : center;
	line-height : 40px;
	border : none;
	background : linear-gradient(to left, #ff9f86 0%, #ff9f86 24%, #fe5171 100%);
	font-size : 14px;
	color : #fff !important;
	font-weight : normal !important;
	
	margin : 0 auto;
	position : relative;
	top : -116px;
}
.btn:hover {
	background : linear-gradient(to left, #fe5171 0%, #fe5171 60%, #ff9f86 100%);
}


/* footer */
footer {
	width : 1116px;
	margin : 0 auto;
	height : 36px;
	box-sizing : content-box;
	padding : 40px 0;
	border-top : 1px solid rgba(0,0,0,0.1);
	position : relative;
}
footer > address {
	font-style : normal;
	position : absolute;
	line-height : 36px;
}
.bottomSns {
	text-align : center;
	line-height : 36px;
	padding-top : 3px;
}
#goTop {
	position : absolute;
	right : 0;
	top : 36px;
	
	font-size : 0.9em;
	color : #8f9bab;
	font-weight : normal;
	
	box-sizing : content-box;
	border : 1px solid rgba(0,0,0,0.1);
	padding : 8px 16px;
	border-radius : 32px;
}
#goTop:before {
	content : "";
	width : 10px;
	height : 10px;
	display : inline-block;
	background : url(../images/upload.png) no-repeat;
	background-size : 10px 10px;
	margin-right : 10px;
}
#goTop:hover {
	border : 1px solid #fe5171;
	color : #fe5171;
}